/* import fonts from fonts.css file */
@import url(./fonts.css);

/* css variables */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/_global.css);

/* start navigation */

.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
  padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
  font: normal 500 15px/2px var(--roboto);
  text-transform: uppercase;
  padding: 1.7rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* end navigation */

/* Banner Area */

.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 500;
}
.main-menu .navbar .navbar-brand img {
  width: 25%;
}
.main-menu.navzoom .navbar .navbar-brand img {
  width: 50%;
}

.site-main .site-banner .site-title h1 {
  font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

/* End Banner Area */

/* Start About Area */

.site-main .about-area {
  padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span {
  display: block;
  font: normal bold 49px/ 60px var(--roboto);
  letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p {
  padding: 0.4rem 0;
}

/* End About Area */

/* Project Area */

.site-main .project-area {
  padding: 4rem 0;
}

.site-main .project-area .button-group button {
  background: transparent;
  border: none;
  font: normal 500 16px/130px var(--roboto);
  text-transform: uppercase;
}

.site-main .project-area .button-group button + button {
  padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4 {
  font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .our-project .img a:hover img {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}
.button-group button {
  color: black;
}
.button-group button:hover {
  color: blueviolet;
}

/* End Project Area */

/* Subscribe me */

.site-main .subscribe-us-area .subscribe {
  background: #41295a;
  background: -webkit-linear-gradient(45deg, #41295a, #2f0743);
  background: linear-gradient(45deg, #41295a, #2f0743);
  padding: 5rem 0;
  margin: 1rem auto;
}

.site-main .subscribe-us-area .subscribe .subscribe-title h4 {
  position: relative;
  bottom: 55px;
  color: whitesmoke;
  overflow: hidden;
}

.site-main .subscribe-us-area .subscribe .subscribe-title p {
  color: whitesmoke;
  padding: 1rem 2rem;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input {
  width: 400px;
  padding: 1.5rem 1rem;
  border: 1px solid whitesmoke;
  background: transparent;
  color: white;
}

.site-main
  .subscribe-us-area
  .subscribe
  form
  .input-textbox
  input::placeholder {
  color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe form .btn-submit button {
  background: whitesmoke;
  color: #000;
  padding: 0.7rem 2rem;
}
/* End subscribe me */

/* Footer Area */

footer.footer-area {
  padding: 0.5rem 0;
}

footer.footer-area .container-footer {
  font: normal 300 23px/ 30px var(--roboto);
}

footer.footer-area .icons a:hover > i {
  color: black;
}
.site-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icons {
  border: 2px solid gray;
  background: #2f0743;
}
.buttons {
  float: right;
}
footer.footer-area .icons a > i {
  font-size: 22px;
  padding: 0.8rem;
  float: right;
  padding-right: 2rem;
  color: black;
}

footer.footer-area .icons a:hover > i {
  color: gray;
}

@media (max-width: 767px) {
  .navbar-brand img {
    width: 25%;
  }
  .site-logo a img {
    width: 50%;
  }
  a.navbar-brand {
    width: 84% !important;
  }
}
#down {
  display: inline;
  position: absolute;
}
/* End Footer */
